/*@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}*/

/*大屏幕*/
.jia{
	cursor: pointer;
}
.nk{
	width: 980px;
	margin:0 auto;
}
header {
	height: 40px;
	/*width: 100%;*/
	background: #444;
}
.guanggao{
	float: right;
	line-height: 40px;
	font-size: 12px;
	color: #a8a8aa;
}
/*头部结束*/
nav{
	height: 44px;
	background: #303030;
	overflow: hidden;
}
nav>.nk>ul{
	text-align: justify;
}
nav>.nk>ul:after{
	content:"";
	width: 100%;
	display: inline-block;
}
nav>.nk>ul>li{
	/*float: left;*/
	display: inline-block;
	color: #fff;
	line-height: 44px;
	font-size: 12px;
	vertical-align: middle;
	/*中部对齐*/
	cursor: pointer;
}

.main_nav:hover{
	cursor: pointer;
	opacity:0.65;
}
nav>.nk>ul>.iconfont{
	font-size: 18px;
}

.col-lg-none{
	display: none!important;
}
.col-lg-inblock{
	display: block!important;
}

/*导航结束*/
.bannerzi{

	width: 100%;
	margin:0 auto;
	
}
.banzizi{
	vertical-align: middle;
	text-align: center;
}
.hhzi{
	font-size: 32px;
	font-weight: 500;
	padding-top: 30px;
}
.hhzi2{
	font-size: 48px;
	font-weight: 500;
	margin-bottom: 20px;
}
.bannertu{
	height: 415px;
	background-image: url(../img/macbookpro_large.jpg);
	background-size: auto 100%;
    background-position: top center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

.bannerxia{
	height: 100%;
    overflow: hidden;
	cursor: pointer;
}
.bannerixia ul{
	height: 100%;
}
.bannerxia li{
	width: 25%;
    float: left;
    overflow: hidden;
}
.bn1{ 
	height: 200px;
	display: block;
	background-image: url(../img/accessories_large.jpg);
	background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bn2{ 
	height: 200px;
	display: block;
	background-image: url(../img/ipad_pro_large.jpg);
	background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bn3{ 
	height: 200px;
	display: block;
	background-image: url(../img/airpods_large.jpg);
	background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bn4{ 
	height: 200px;
	display: block;
	background-image: url(../img/iphone_upgrade_large.jpg);
	background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dibu{
	background-color: #f2f2f2;
}
.bu1 ul{
	border-bottom: 1px solid #d6d6d6;
    color: #888;
    font-size: 11px;
    padding: 17px 0 11px;
}
.bu1 li{
	padding-top: 10px;
}
.dibu2{
	height: 100%;
	overflow: hidden;
}
.dibu2 dl{
	float: left;
	font-size: 11px;
	font-weight: 600;
	width: 20%;
}
.dibu2 dt{
	padding:15px 0 5px;
}
.dibu2 dd{
	font-weight: 400;
	margin-right: 60px;
}
.dibu2 dd:hover{
	color: #333;
	text-decoration: underline;
}
.dibu3 ul{
	font-size: 11px;
	padding:35px 0 11px;
	border-bottom: 1px solid #d6d6d6;
}
.dibu3 p{
	font-size: 11px;
	padding:12px 0;
	display: inline-block;
}



/*中屏幕*/
@media screen and (max-width: 1068px){
	.nk{
		width: 100%;
	}
	.guanggao{
		margin-right:25px;
	}
	nav>.nk>ul>li:nth-child(2){
	margin-left: 25px;
	}
	nav>.nk>ul>li:last-child{
	margin-right: 25px;}
	.col-md-none{
	display: none!important;}
	.bannerxia li{
	width: 50%;}
	
	.bannertu{
	background-image: url(../img/macbookpro_medium.jpg);
	/*background-size: cover;*/
	}
	.hhzi{
		font-size: 26px;
		margin-bottom: 20px;
	}
	.hhzi2{
		font-size: 40px;
		margin-bottom: 20px;
	}
	.bn1{
		background-image: url(../img/accessories_medium.jpg);
	}
	.bn2{
		background-image: url(../img/ipad_pro_medium_2x.jpg);
	}
	.bn3{
		background-image: url(../img/airpods_medium.jpg);
	}
	.bn4{
		background-image: url(../img/iphone_upgrade_medium.jpg);
	}
	.dibu{
	padding: 0 25px;
	}

}
/*小屏幕*/
@media screen and (max-width: 735px){
	.col-sm-inblock{
		display: inline-block!important;
	}
	.col-sm-none{
		display: none!important;
	}
	.col-sm-block{
		display: block!important;
	}
	nav>.nk>ul>li:nth-child(2) {
		margin-left: 0px;
	}
	nav>.nk>ul>li:first-child{
	margin-left: 25px;}
	nav>.nk>ul>.main_nav{
		display: none;
	}
	.bannerxia li{
	width: 100%;}
	
	.bannertu{
	background-image: url(../img/macbookpro_portrait_small.jpg);
	}
	.hhzi{
		font-size: 20px;
		margin-bottom: 20px;
	}
	.hhzi2{
		font-size: 35px;
		margin-bottom: 36px;
	}
	.bn1{
		background-image: url(../img/accessories_small.jpg);
	}
	.bn2{
		background-image: url(../img/ipad_pro_small_2x.jpg);
	}
	.bn3{
		background-image: url(../img/airpods_small.jpg);
	}
	.bn4{
		background-image: url(../img/iphone_upgrade_small.jpg);
	}
	.dibu dl{
		width: 100%;
		overflow: hidden;
		margin:0 auto;
	}
	.dibu dt{
		border-bottom: 1px solid #d6d6d6;
		padding:5px 0!important;
	}
	.dibu>.dibu1>dd{
		display: none!important;
	}
	.zhuyi{
		width: 100%;
		overflow: hidden;
		padding:5px 0!important;
		margin:0!important;
	}
	span{
		float: right;
		text-align: center;
	}
	.bu1{
		margin-bottom: 15px;
	}
	
}








.clear:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear:both;
}